body {
   background-color:#1a1a1a;
   line-height: 1.6;
   padding: 20px;
   font-family: Arial, Sans-serif;
}
p {
   color: white;
}
h1, h2, h3, h4, h5, h6 {
   color: #ff8800;
   font-size: 28px;
}
.gold {
    color: gold; /* или #FFD700 */
}

.silver {
    color: silver; /* или #C0C0C0 */
}

.bronze {
    color: #cd7f32; /* классический бронзовый оттенок */
}
ol, ul {
   color: white;
}
a {
   color: rgb(132, 2, 255);
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
.gallery {
   display: flex;
   flex-wrap: wrap;
   gap: 15px;
}
.gallery img {
   width: 300px;
   height: auto;
   border: #12011d;
   border-radius: 3px;
}
.admin-cool {
    color: rgb(0, 255, 242);
    text-shadow: #12011d 1px 1px 2px;
}
.admin-senior {
    color: rgb(157, 255, 0);
    text-shadow: #12011d 1px 1px 2px;
}
.admin-anime {
    color: rgb(190, 8, 206);
    text-shadow: #12011d 1px 1px 2px;
}
.admin-old {
    color: rgb(255, 0, 55);
    text-shadow: #12011d 1px 1px 2px;
}
.admin-tik-tik {
    color: rgb(37, 37, 37);
      gradient: linear-gradient(45deg, rgb(37, 37, 37), rgb(165, 165, 165));
}

